/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
	height: 100%
}

body {
	position: absolute;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

#main-container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
/*
#sample {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 90px 20px 20px 20px;
}
*/

#generate-btn {
	position: absolute;
	height: 40px;
	width: 64px;
	top: 15px;
	left: 15px;
	z-index: 1000;
	background-color: #383846;
	color: white;
	font-size: 12px;
	text-align: center;
}

.text {
	display: block;
}

footer {
	position: absolute;
	bottom: 0;
	height: 38px;
	width: 100%;
	padding: 0 10px;
	background-color: #f5c115;
}

footer img {
	display: block;
	float: left;
	padding: 4px 2px;
	height: 100%;
}

footer p {
	color: #383846;
	font-size: 14px;
	font-family: Signika, sans-serif;
	height: 100%;
	padding: 12px 6px;
	margin: 0;
	display: inline-block;
}

/********
larger screens
*********/
/********
acerta esse min-width, vc nao quer que tablets se comportem
como smartphones
*********/
@media screen and (min-width: 700px) {
	#generate-btn {
		height: 60px;
		width: 100px;
		font-size: 18px;
	}
}