/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
	height: 100%
}

body {
	position: absolute;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

#main-container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
/*
#sample {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 90px 20px 20px 20px;
}
*/

#generate-btn {
	position: absolute;
	height: 60px;
	width: 100px;
	top: 15px;
	left: 15px;
	z-index: 1000;
	background-color: #383846;
	color: white;
	font-size: 18px;
	text-align: center;
}

.text {
	display: block;
}

footer {
	position: absolute;
	bottom: 0;
	height: 38px;
	width: 100%;
	padding: 0 10px;
	background-color: #f5c115;
}

footer img {
	display: block;
	float: left;
	padding: 4px 2px;
	height: 100%;
}

footer p {
	color: #383846;
	font-size: 14px;
	font-family: Signika, sans-serif;
/*	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;*/
	height: 100%;
	padding: 12px 6px;
	margin: 0;
	display: inline-block;
}