/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	padding: 0;
}

html, body {
	height: 100%
}

body {
	position: relative;
	background-color: lightgrey;
	padding-top: 0; 
	padding-bottom: 0;
	width: 100%;
	overflow: hidden;
}

.container {
	height: 100%;
}

#generate-btn {
	position: fixed;
	height: 70px;
	width: 165px;
	top: 10%;
	left: 30px;
	font-size: 18px;
	z-index: 1000;
}

.container {
	position: absolute;
	top: 5%;
	overflow: hidden;
	height: 80%;
	width: 100%;
}

#sample {
	height: 100%;
	width: 100%;
}

.text {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 10%;
	padding: 0;
}

footer {
	background-color: grey;
	width: 100%;
	height: 70px;
	min-height: 50px;
	font-size: 14px;
	padding: 20px;
	position: absolute;
	bottom: 0;
}