
/* herzog */

.herzog {
  background: #2A2C39;
  font: 400 36px/1.4 'cardo';
  color: #E9E9EB;
}

.herzog .text {
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

/* nietzsche */

.nietzsche {
  background: #ef4723;
  font: 400 60px/60px 'gentium book basic';
  color: #222;
}

  /* bringhurst */

.bringhurst {
	background: #fcfaf2;
	color: #333;
	font: 400 12px/18px 'vollkorn';
	font-style: italic;
	margin: 0 0 10px 0;
	text-indent: -6px;
}

.bringhurst .text {
	margin: 0 auto;
	padding: 0 20px;
}

/* thin */

.thin {
  background: #0ac5f4;
  padding: 200px 0;
	font: 100 92px/1 'lato';
	margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.thin .text {
  margin: 0 auto;
  padding: 0 20px;
  opacity: 0.8;
}

/* nabokov */
.nabokov {
  background: rgba(133, 135, 141, 0.7);
  color: #242526;
	font: italic 700 84px/1.2 'playfair display';
}

.nabokov .text {
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

/* seneca */    
.seneca {
  background: #caccc9;
  color: #333;
  font: 400 14px/22px 'merriweather'; 
}

.seneca .text {
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

/* tufte */
.tufte {
  background: #f8f5ef;
  color: #172bae;
  font: 400 20px/30px 'vollkorn';
  font-style: italic;
}

.tufte .text {
	padding: 0 20px;
  text-indent: 8px;
}

/* postnormal */
.postnormal {
  background: #fff;
	font: normal 13px/54px 'pt mono';
	color: #222;
	text-transform: uppercase;
}

.postnormal .text {
  margin: 0 auto;X
  padding: 0 20px;
	letter-spacing: 5px;
}

/* slogan */

.slogan {
  background: #c00;
  text-align: center;
}

.slogan .text {
  color: #090909;
  font: 400 76px/64px 'Gravitas One';
  text-decoration: underline;
  letter-spacing: -4px;
  margin: 0 0 20px 0;
  padding: 0 4px;
  text-transform: uppercase;
}

/* darwin */
.darwin {
  background: #ede0ce;
  text-align: center;
  font: 400 14px/72px 'old standard tt';
  color: #161616;
  text-transform: uppercase;
}

/* headline */

.headline {
  background: #000;
  padding: 300px 0;
  font: 400 92px/84px Abril Fatface;
  color: #fff;
}

.headline .text {
  margin: 0 auto;
  padding: 0 20px;
}

/* camus */

.camus {
  background: #fff;
  font: 400 14px/18px 'pt serif';
  color: #222;
}

.camus .text {
  margin: 0 auto;
  padding: 0 20px;
  text-align: justify;
  text-indent: 14px;
}